<header class="position-fixed top-0 start-0 end-0 fixed">
    <nav class="navbar navbar-expand-lg "  id="navbar">
        <div class="container">
            <a class="navbar-brand text-light" href="">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-4">
                        <a class="nav-link active text-light nike" aria-current="page" href="#">Nike</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-light adidas" href="#">Adidas</a>
                    </li>
                    <li class="nav-item  px-4">
                        <a class="nav-link text-light converse" href="#">
                            Converse
                        </a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-light gucci" href="#">Gucci</a>
                    </li>
                </ul>
                <div>
                    <a href="#" class="px-2 text-light"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href="#" class="px-2 text-light"><i class="fa-solid fa-user"></i></a>
                    <a href="#" class="px-2 text-light"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>