<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>

            <div class="container-fluid bg">
                <div class="row">
                    <div class="wrapper position-absolute top-50 start-50 translate-middle">
                        <div class="box-form">
                            <h3 class="text-center mb-4 text-uppercase mt-3">Xác thực tài khoản</h3>
                            <form action="/confirm" method="post">
                                <div class="form-group mt-5">
                                    <label for="oldPassword" class="pb-2">Old Password</label>
                                    <input type="password" id="oldPassword" name="oldPassword">
                                </div>
                                <div class="form-group mt-5">
                                    <label for="passwordNew" class="pb-2">A new password</label>
                                    <input type="password" id="passwordNew" name="passwordNew">
                                </div>
                                <div class="btn-sub mt-5 text-end">
                                    <button type="submit" class="btn btn-bg">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>